.main {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 400px;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
.main h3 {
  text-align: center;
  text-wrap: balance;
}
.main article {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 1rem;
}
.main input {
  padding-left: 0.25rem;
  height: 1.5rem;
  width: 12rem;
}
.main p {
  text-wrap: pretty;
}
.main hr {
  width: 80%;
}
